.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.formContainer {
  margin-bottom: 20px;
}

.labelForm {
  display: block;
  margin-bottom: 10px;
}

.inputForm {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.title {
  margin-bottom: 10px;
}

.removeButton {
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  margin-bottom: 12px;
}

.removeButton:hover {
  background-color: #2980b9;
}
